.signal-container {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 2rem;
    border-radius: 8px;
    min-height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: #e0e0e0 1px solid;
}

.signal-container p {
    font-size: 1.2rem;
    margin: 0;
    color: #ffffff;
}

.botones button{
    background-color: #008cff;
    border: none;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
}